body {
    margin: 0px;
    display:flex;
    flex-direction: column;
}

header {
    background-color: red;
}

main {
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    background-color: lightblue;
}

article {
    background-color: green;
}
