html {
    height: 100%;
}

body {
    margin: 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

header {
    background-color: red;
}

main {
    background-color: lightgreen;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    background-color: lightblue;
}

article {
    background-color: green;
}
